<% if flash[:error] %>
<%= flash[:error] %>
<%end%>
<% if flash[:success] %>
<%= flash[:success] %>
<%end%>
<h1 class=main_book> Books </h1>


    
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Description</th>
            <th>URL</th>
            <th>User</th>
        </tr>
        <% @books.each do |book| %>
        <tr>
             <td class = blanks><%= book.title %></td>
             <td class = blanks><%= book.author %></td>
             <td class = blanks><%= book.description %></td>
             <td class = blanks><%= book.url %></td>
             <% if book.user %>
             <td class = blanks><%= book.user.user_name%></td>
             <% end %>
             <td><%= link_to "Edit", edit_book_path(book) %>
             <td><%= link_to "Destroy", book, method: :delete %>
             <td><%= link_to "Show", book %>
        </tr>
        <%end%>
    </table>
    



<%= form_with scope: :book, url: books_path, local: true do |form| %>

<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Description</th>
        <th>URL</th>
    </tr>
    <tr>
        <td class = blanks><%= form.text_field :title %></td>
        <td class = blanks><%= form.text_field :author %></td>
        <td class = blanks><%= form.text_field :description %></td>
        <td class = blanks><%= form.url_field :url %></td>
        <td><%= form.submit  %>
        
    </tr>
</table>

<% end %>